@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

html {
    font-size: 16px
}

*,*::before,*:after {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%
}

.section .hero {display: none}
body{
    font-family: 'Open Sans';
    font-weight: 400;
    width: 100%;
    overflow-x: hidden
}
h4, h1, h2{ 
    font-family: Raleway;
    font-weight: 700
}

#header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    background-color:hsl(243, 58%, 33%);
    max-width: 100%;
    max-height: 100vh;
}

.top-nav{
    display: flex;
    /* background: green; */
    justify-content: space-between

}

main {
    
    max-width: 100%;
}
.logo, .register, .container {
    margin-top: 35px
}
.logo{
    margin-left: 5.0rem
}
.register{
    margin-right: 5.0em
}
input[type='button'] {
    outline: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
    color: white;
    margin-left: 15px
}
input[type='button']:nth-child(2) {
    background-color: hsl(163, 95%, 43%);
    width: 6.0em;
    height: 2.0em;
    border-radius: 3px
}
.sec-in-nav{
    /* background: green; */
    display: flex;
    justify-content:  space-between;
    margin-top: 5em;
    line-height: 40px
}
.text {
     margin-left: 1.6em;
    width: 450px;
    color:#fff; 
    /* background: greenyellow */
    
}
.get-started {
    width: 15em;
    height: 3.5em;
    border-radius: 5px;
    margin-top: 1.3em;
    background-color: hsl(163, 95%, 43%);
    outline: none;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin-left: 3.5em;
    color: #fff;
}
.illustration-hero img{
    width: 15em;
    margin-right: 5.9rem;
    margin-bottom: 150px
}

.centred-text { 
    text-align: center;
    margin-bottom: 5rem;
    margin-top: 2.5rem
}
#s{
    /* background: blue; */
    width: 55%;
    line-height: 25px;
}
h5{
    /* background:  yellow; */
    /* width:75%; */
    height: 90px;
    line-height: 15px;
    color:hsl(0, 0%, 50%);
    margin-top: 12px
    
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}
 .hero {display: inline-block}
#features {
    width: 15em;
    height: 15em;
    margin-left: 3.5em

}

.subcription{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    text-align: center;
     /* background: purple */
} 
#g{
    width: 100vw;
    margin-right: 105em;
    margin-top: 35px;
    /* background: yellow */
}

input[type='email'] {
    width: 25em;
    height: 2.0em;
    border-radius:  5px;
    outline: none;
    padding: 0.25rem;
    border: 1px solid black
}

.input input[type='button'] {
    /* width: 15em; */
    height: 3em;   
    width: 15em
}

.signup {
    height: 1.9em
}
.footer{
    margin-top: 10em;
    clip-path: polygon(0 0, 100% 24%, 105% 100%, 0% 100%);
   background-color: hsl(243, 87%, 12%);
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 45vh;

}
hr {
    width: 1;
    height:  120px
}

#contact {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin-left: 45px;
    line-height: 50px;
    color: #fff;
}

ul li{
    list-style-type: none;
    line-height: 1.5rem;
    color: hsl(0, 0%, 50%)
}
section h4 {
    color: white
    /* display: inline-block; */
    
}

section ul {
    margin-top: 0.9em;
}

section ul li {
    color: white
}
footer #support {
    margin-bottom: 1.5em;
    /* background-color: purple */    
}
#updates{
    margin-right: 2.5em;
    margin-top: 1.3em;
    /* font-size: .9rem */
}
.txt{
    margin-bottom: 1.0rem; 
    font-size: 0.9rem
}
#mail{
    margin-bottom: 1.0rem
}

section input[type='email']{
    width: 25em;
    /* margin-top:  */
}

#join{
    background: hsl(163, 95%, 43%);;
    float: right;
    width: 15em;
    height:3.0em;
    border-radius: 5px;
    margin-right: .1rem;
}
#update {display:none}
/* .container {
    display: none;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  } */
  

@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
    
    *,
    *:before,
    *:after {
        margin:  0;
        padding: 0;
        box-sizing: border-box;
        max-width: 100%;
        overflow-x: hidden
    } 
    /* header { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 70%);} */
    body {
        max-width: 100vw
    }
    .top-nav {
        display: flex;
        justify-content: space-around;
    }
     .logo, .register { margin: 2rem 0 0 0 }

    
     .text{margin: 0rem;  font-size: 1.7rem; text-align: center}
     
     .illustration-hero { align-self: center;  width: 10rem; height: 7rem; overflow-y:hidden}
     
      .sec-in-nav{
        display: flex;
        flex-direction: column-reverse;
        justify-content:  space-between;
        margin-top: 1em;
        
    }
   .text {
        width: 100%;
        color:#fff;  
    }
    .get-started { margin-left: 7rem; margin-bottom: 5rem}
    .centred-text { font-size: 2.5rem; margin-top: 3rem; font-weight: 300; margin-bottom: 2.5rem}
    .grid{
        display: block;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        
    }
    #s{width: 100vw; margin: 2.5rem 1.5rem 1rem 0rem}
    .section { text-align: center;}
    h5{margin: 1rem 0 1rem}

    input[type='email'] {
        height: 3.0em;
    }
    /* 9993.87 */
    .input input[type='button'] {
        margin: 1rem .4rem 0 0.4rem ;
        height: 3em;   
        width: 25.5em;
        border-radius:  5px;
        outline: none;

    }

    .footer{
        display: inline-block;
        margin-top: 2rem;
        height: 100vh
    }
    hr{opacity:  0}
    
    #contact {
        margin: 1rem 0 0rem 1rem ; 
        padding-right: 2rem;
        /* background: yellow */
    }
    .fylo {margin-right: 15rem; margin-top: 3.6rem}
    #about-us, #company, #support {
        margin: 0rem 0 0rem 1.5rem
    }
    
    #update { 
        display: block;
        text-align: center;
        margin-top: 1rem;
        /* background: red */
    }
   section h4 {margin: 1rem 0 1rem 0; font-size: 1.5rem}
    #updates {display: none}
    section ul {
        margin-top: 0;
    }
    
    section ul li {
        color: white;
    line-height: 2.6rem
    }
    footer #support {
        margin-bottom: 0rem;
        /* background-color: purple */    
    }
    #updates{
        margin-right: 2.5em;
        margin-top: 1.3rem;
        /* font-size: .9rem */
    }
    .txt{
        margin-bottom: 1.0rem; 
        font-size: 0.9rem
    }
    #mail{
        margin-bottom: 1.0rem
    }
    
    section input[type='email']{
        width: 25em;
        /* margin-top:  */
    }
    
    #join{
        background: hsl(163, 95%, 43%);;
        float: right;
        width: 15em;
        height:3.0em;
        border-radius: 5px;
        margin-right: 1rem;
    }

}